<!DOCTYPE html>
<html>
	<head>
    	<title>K-dastra</title>
  	</head>

  	<body>
  		<div class="container theme-showcase" role="main">
  		<div class="row">
    	<div class="col-md-12">
		<div class="jumbotron text-center pesquisa">
  		    <h2>Sejam bem-vindos ao <b>K-dastra</b></h2>
  		</div>
  		</div>
  		</div>
  		</div>
  	</body>