<h1>Editing Cad Produto</h1>

<%= render 'form', cad_produto: @cad_produto %>

<%= link_to 'Mostrar', @cad_produto %> |
<%= link_to 'Voltar', cad_produtos_path %> |
<%= link_to 'Descartar', @cad_produto, method: :delete, data: {confirm:'Are you sure?'} %>